*{
    padding: 0;
    margin: 0;
    list-style: none;
    color:rgb(94, 93, 93);
    text-shadow: 2px 2px 2px rgb(165, 164, 164);
}
h2{
    border-bottom: 1px dashed #000;
    margin: 10px;
    padding-left: 15px;
}
li{
    margin: 18px;
}
span{
    margin-left: 8px;
    color:rgb(87, 85, 85);
}
.resume{
    width: 720px;
    height: 845px;
    margin: 0 auto;
    background-color: rgb(238, 237, 237);
    box-shadow: 4px 4px 3px rgb(56, 56, 56);
}
    
.resTital{
    height:80px;
    background-color: rgb(98, 172, 233);
    text-align: center;
    color:white;
    font-size: 40px;
    font-family: "仿宋";
    padding: 20px;
}
.person{
    position: relative;
}

.person>img{
    width: 100px;
    margin-left: 0px;
    position: absolute;
    right: 20px;
}
.review{
    text-indent: 2em;
    margin: 20px;
}


